
.vs/Synth/FileContentIndex/2455aee1-0089-4723-ae0a-57587d71d7f0.vsidx
.vs/Synth/FileContentIndex/52e2248e-4433-410c-b719-53ef14adb4ca.vsidx
.vs/Synth/FileContentIndex/read.lock
BasicDemo/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
BasicDemo/obj/Debug/net6.0/Demo.AssemblyInfo.cs
BasicDemo/obj/Debug/net6.0/Demo.AssemblyInfoInputs.cache
BasicDemo/obj/Debug/net6.0/Demo.assets.cache
BasicDemo/obj/Debug/net6.0/Demo.csproj.AssemblyReference.cache
BasicDemo/obj/Debug/net6.0/Demo.GeneratedMSBuildEditorConfig.editorconfig
BasicDemo/obj/Debug/net6.0/Demo.GlobalUsings.g.cs
BasicDemo/obj/Demo.csproj.nuget.dgspec.json
BasicDemo/obj/Demo.csproj.nuget.g.props
BasicDemo/obj/Demo.csproj.nuget.g.targets
BasicDemo/obj/project.assets.json
BasicDemo/obj/project.nuget.cache
Synth/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Synth/obj/Debug/net6.0/Synth.AssemblyInfo.cs
Synth/obj/Debug/net6.0/Synth.AssemblyInfoInputs.cache
Synth/obj/Debug/net6.0/Synth.assets.cache
Synth/obj/Debug/net6.0/Synth.csproj.AssemblyReference.cache
Synth/obj/Debug/net6.0/Synth.GeneratedMSBuildEditorConfig.editorconfig
Synth/obj/Debug/net6.0/Synth.GlobalUsings.g.cs
Synth/obj/project.assets.json
Synth/obj/project.nuget.cache
Synth/obj/Synth.csproj.nuget.dgspec.json
Synth/obj/Synth.csproj.nuget.g.props
Synth/obj/Synth.csproj.nuget.g.targets
UI/obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
UI/obj/Debug/net6.0-windows/UI.AssemblyInfo.cs
UI/obj/Debug/net6.0-windows/UI.AssemblyInfoInputs.cache
UI/obj/Debug/net6.0-windows/UI.assets.cache
UI/obj/Debug/net6.0-windows/UI.csproj.AssemblyReference.cache
UI/obj/Debug/net6.0-windows/UI.GeneratedMSBuildEditorConfig.editorconfig
UI/obj/Debug/net6.0-windows/UI.GlobalUsings.g.cs
UI/obj/project.assets.json
UI/obj/project.nuget.cache
UI/obj/UI.csproj.nuget.dgspec.json
UI/obj/UI.csproj.nuget.g.props
UI/obj/UI.csproj.nuget.g.targets
/.vs
/BasicDemo/obj/Debug/net6.0
/Synth/bin/Debug/net6.0
/Synth/obj/Debug/net6.0
/UI/bin/Debug/net6.0-windows
/UI/obj/Debug/net6.0-windows
*/obj/
*/bin/
